<!DOCTYPE html>
<html>
<head>
<title>Admin</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container" style="max-width:700px;">

<h2>Admin Dashboard</h2>

<div class="grid">

<div class="stat-card">
<h3>{{total_candidates}}</h3>
<p>Candidates</p>
</div>

<div class="stat-card">
<h3>{{browser_events}}</h3>
<p>Browser Events</p>
</div>

<div class="stat-card">
<h3>{{face_events}}</h3>
<p>Face Events</p>
</div>

<div class="stat-card">
<h3>{{total_events}}</h3>
<p>Total Events</p>
</div>

</div>

</div>

</body>
</html>
