<!DOCTYPE html>
<html>
<head>
<title>Exam</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

<h2>Exam Interface</h2>

<div class="card">
    <h3>Browser Monitoring</h3>

    <p class="status">Browser Status</p>
    <p class="monitor-value" id="browser-status">Active</p>

    <p class="status">Focus Loss Count</p>
    <p class="monitor-value" id="focus-count">0</p>

    <p class="status">Last Focus Loss</p>
    <p class="monitor-value" id="last-focus">--</p>
</div>

<div class="card">
    <form action="/end_exam" method="POST">
        <button type="submit" class="danger-btn">
            End Exam
        </button>
    </form>
</div>

<script src="{{ url_for('static', filename='js/browser_monitor.js') }}"></script>

</div>

</body>
</html>
