<!DOCTYPE html>
<html>
<head>
    <title>Candidate Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

<h2>Candidate Login</h2>

<form action="/login" method="POST">

<label>Email</label>
<input type="email" name="email" required>

<label>Password</label>
<input type="password" name="password" required>

<button type="submit">Login</button>

</form>

<div class="link">
<a href="/">Create Account</a>
</div>

</div>

</body>
</html>
