<!DOCTYPE html>
<html>
<head>
    <title>Candidate Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

<h2>Candidate Registration</h2>

<form action="/register" method="POST">

<label>Candidate ID</label>
<input type="text" name="candidate_id" required>

<label>Name</label>
<input type="text" name="name" required>

<label>Email</label>
<input type="email" name="email" required>

<label>Password</label>
<input type="password" name="password" required>

<button type="submit">Register</button>

</form>

<div class="link">
<a href="/login">Already Registered? Login</a>
</div>

</div>

</body>
</html>
